#colorSquare {
    background-color: aquamarine;
    height: 400px;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

#pinkGreen {
    text-align: center;
    font-size: 2em;
    font-family: monospace;
    color: grey;
}

#bye {
    background-color: skyblue;
    height: 100px;
    width: 200px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-family: monospace;
    padding-top: 50px;
    color: white;
    border: solid 10px lavender;

}

#clock {
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
    color: lightgray;
    font-family: monospace;
}

